body,
h1,
h2,
p,
ul,
li,
dd,
dt,
dd,
a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

a {
  color:inherit;
}
body {
  background: #faf6ed;
  color:#222;
  -webkit-font-smoothing: antialiased;
  display: grid;
  grid-template-columns: 1fr 120px minmax(300px,800px) 1fr;  
}

.aumenta-fonte {
  font-size: 10rem;
}

.menu{
  grid-column: 3/5;
  margin-top: 32px;
  margin-bottom: 32px;
  background: #fb5;
}

.menu ul {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  text-transform: uppercase;
}

.menu li a{
  display: block;
  padding: 10px;
  margin-right:10px;
  font-family: monospace;
  font-weight: bold;
  font-size: 0.875rem;
  letter-spacing: .1em;
}

.grid-section {
  display: grid;
  grid-template-columns: 90px 300px 1fr;
  grid-gap:20px;
  grid-column: 2/4;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.titulo {
  font-family: 'Playfair Display SC', serif;
  font-size: 6rem;
  line-height: 1;
  font-weight: 400;
  margin-bottom: 16px;
  grid-column: 1 / 4;
}

.animais h2 {
  font-family: "IBM Plex Mono", monospace;
  font-size: 1rem;
  letter-spacing: .1em;
  text-transform: uppercase;
  margin-bottom: 1rem;
  color:#e54;
}

.animais h2::before {
  content: "";
  display: inline-block;
  width: 40px;
  height: 10px;
  background: #fb5;
  margin-right: 10px;
}

.animais p {
  font-family: Helvetica, Arial, sans-serif;
  margin-bottom: 16px;
}

.animais-lista {
  grid-column: 2;
  overflow-y: scroll;
  height: 370px;
}

.animais-lista::-webkit-scrollbar {
  width:18px;
}

.animais-lista::-webkit-scrollbar-thumb {
  background: #fb5;
  border-left: 4px solid #faf6ed;
  border-right: 4px solid #faf6ed;
}

.animais-lista::-webkit-scrollbar-track{
  background: #faf6ed;
}

.animais-descricao {
  grid-column: 3;
}

.animais-descricao section{
  margin-bottom: 48px;
}

.faq-lista {
  grid-column: 2 /4;
}

.faq-lista dt {
  font-family: monospace;
  font-weight: bold;
  font-size: 1rem;
  color:#e54;
  margin-top: 32px;
  margin-bottom:8px;
}

.faq-lista dt::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 10px;
  background: #fb5;
  margin-right: 10px;
}

.faq-lista dd {
  margin-bottom:8px;
  margin-left: 30px;
  font-family: Helvetica, Arial, sans-serif;
}

.contato {
  margin-bottom: 64px;
}

.mapa {
  grid-column: 2;
}

.dados li{
  font-family: Helvetica, Arial, sans-serif;
  margin-bottom: 16px;
}

.dados li::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 10px;
  background: #fb5;
  margin-right: 10px;
}

.copy {
  grid-column: 3/5;
  margin-bottom: 32px;
  background: #fb5;
}

.copy p {
  padding: 20px;
  font-family: monospace;
  font-weight: bold;
  font-size: 1rem;
}

@media (max-width:700px) {
  body {
    grid-template-columns: 1fr;
  }
  .menu, .grid-section, .copy {
    grid-column: 1;
  }
  .grid-section {
    grid-template-columns: 100px 1fr;
    gap:10px;
  }
  .animais-lista {
    grid-column: 1;
  }
  .faq-lista, .dados, .mapa {
    grid-column: 1 / 3;
  }
  .grid-section h1{
    font-size: 3rem;
  }
}
